data/
models/
experiments/cifar10_outofdist_qmia/diffusion_logs/**
experiments/cifar10_outofdist_qmia/t_errors/**
experiments/cifar10_outofdist_qmia/qr_logs/**
experiments/cifar10_outofdist_qmia/qr_results/**
experiments/cifar10_improving_qmia/diffusion_logs/**
experiments/cifar10_improving_qmia/t_errors/**
experiments/cifar10_improving_qmia/qr_logs/**
experiments/cifar10_improving_qmia/qr_results/**